/target
/data/test_object
/data/run_data.hdf5
/src/read_hdf5.*
*.mp4
*.txt
*.bin
tmp.py
/data/scene_loading/test_data
/data/object_loading/test_data
/data/test_commands
/output
/notes

.DS_Store
Cargo.lock
CLAUDE.md